{% extends "base.html" %}

{% block extrahead %}
    <meta property="og:url" content="{{ page.canonical_url }}">
    
    {% if page and page.meta and page.meta.title %}
    <meta property="og:title" content="{{ page.meta.title }}"/>
    <meta name="twitter:title" content="{{ page.meta.title }}"/>
    {% elif page and page.title %}
    <meta name="og:title" content="{{ page.title }}"/>
    <meta name="twitter:title" content="{{ page.title }}"/>
    {% elif config.site_name %}
    <meta name="og:title" content="{{ config.site_name }}"/>
    <meta name="twitter:title" content="{{ config.site_name }}"/>
    {% endif %}

    {% if page and page.meta and page.meta.description %}
    <meta name="description" content="{{ page.meta.description }}">
    <meta name="og:description" content="{{ page.meta.description }}">
    <meta name="twitter:description" content="{{ page.meta.description }}">
    {% elif config.site_description %}
    <meta name="description" content="{{ config.site_description }}">
    <meta name="og:description" content="{{ config.site_description }}">
    <meta name="twitter:description" content="{{ config.site_description }}">
    {% endif %}

    <meta property="og:image" content="https://tisonkun.org/media/eugeo.jpg">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="https://tisonkun.org/media/eugeo.jpg">

{% endblock %}

{% block content %}
  {{ super() }}

  <!-- Giscus -->
  <script src="https://giscus.app/client.js"
        data-repo="tisonkun/open-source-guides"
        data-repo-id="R_kgDOHLVTjg"
        data-category="Comments"
        data-category-id="DIC_kwDOHLVTjs4COyO3"
        data-mapping="pathname"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light"
        data-lang="en"
        crossorigin="anonymous"
        async>
    </script>

  <!-- Reload on palette change -->
  <script>
    var palette = __md_get("__palette")
    if (palette && typeof palette.color === "object")
      if (palette.color.scheme === "slate") {
        var giscus = document.querySelector("script[src*=giscus]")
        giscus.setAttribute("data-theme", "dark") 
      }

    // Register event handlers after documented loaded
    document.addEventListener("DOMContentLoaded", function() {
      var ref = document.querySelector("[data-md-component=palette]")
      ref.addEventListener("change", function() {
        var palette = __md_get("__palette")
        if (palette && typeof palette.color === "object") {
          var theme = palette.color.scheme === "slate" ? "dark" : "light"

          // Instruct Giscus to change theme
          var frame = document.querySelector(".giscus-frame")
          frame.contentWindow.postMessage(
            { giscus: { setConfig: { theme } } },
            "https://giscus.app"
          )
        }
      })
    })
  </script>
{% endblock %}
